/*-----------------------------Chat Box(activity stream)-------------------------------*/

.chatbox-holder {
    position: fixed;
    right: 256px !important;
    bottom: 0;
    display: flex;
}

.chatbox {
    width: 303px;
    height: 400px;
    margin: 0 20px 0 0;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: column;
    background: white;
    bottom: 0;
    transition: .1s ease-out;
}

.chatbox-top {
    position: relative;
    display: flex;
    padding: 11px 0;
    background: #266aa8;
}

.chatbox-icons {
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
}

.chatbox-icons .fa {
    background: #03A9F4;
    padding: 3px 5px;
    margin: 0 0 0 3px;
    color: white;
    border-radius: 0 5px 0 5px;
    transition: 0.3s;
}

.chatbox-icons .fa:hover {
    border-radius: 5px 0 5px 0;
    background: #3bbbf5;
}

.chatbox-icons a, .chatbox-icons a:link, .chatbox-icons a:visited {
    color: white;
}

.chat-partner-name{
    flex: 1;
    padding: 1px 0 0 60px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    transition: .1s ease-out;
}

.chat-partner-name a{color:#fff;}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #cacaca;
    margin: 0 3px 0 0;
}

.onlinebox{
    background: #b7fb00;
}
.offlinebox{
    background: #d3d3d3;
}

.away {
    background: #ffae00;
}

.donot-disturb {
    background: #ff4343;
}

.chatbox-avatar {
    width: 33px;
    height: 33px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    padding: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    position: absolute;
    transition: .1s ease-out;
    bottom: 4px;
    left: 16px;
}

.chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-messages {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    height:100% !important;
    align-content: flex-start;
    flex: 1;
}

.message-box-holder {
    width: 100%;
    padding: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, {
    color: #30649c;
    text-decoration: none;
}

.message-box {
    padding: 6px 10px;
    color: #fff;
    text-align: right;
    background: -webkit-linear-gradient(330deg, #248A52, #257287);
    background: linear-gradient(120deg, #248A52, #257287);
    border-radius: 10px 10px 0 10px;
    font-size: 12px;
    margin-right:8px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.message-box:after {
    position: absolute;
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;

}
.message-partner {
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(12,12,12,0.58);
    margin: 8px 0;
    font-size: 11px;
    line-height: 1.4;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    align-self: flex-start;
    margin-left:10px;
}

.message-partner:after {
    content: '';
    position: absolute;
    bottom: -6px;
    border-top: 6px solid rgba(12,12,12,0.58);
    left: 0;
    border-right: 7px solid transparent;
}

.chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #383636;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.chat-input:focus, .message-send:focus {
    outline: none;
}

.message-send::-moz-focus-inner {
    border:0;
    padding:0;
}

.message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.attachment-panel {
    padding: 3px 10px;
    text-align: right;
}

.attachment-panel a, .attachment-panel a:link, .attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.chatbox-min {
    bottom: -362px;
}

.chatbox-min .chatbox-avatar {
    width: 50px;
    height: 50px;
}

.chatbox-min .chat-partner-name, .chatbox-min .chat-group-name {
    padding: 0 0 0 75px;
}
.messages-submit {
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    background: #266aa8;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
.messages-submit:hover {
    background: #3b82c3;
}
	/*++++++++++++++media Query++++++++++++++*/
									
@media only screen and(width : 1279px) {
.chatbox-holder {										right: 256px !important;}
}
@media only screen and (width : 1024px) {
.chatbox-holder {										right: 256px !important;}
}
@media only screen and (width:320px)							{
.chatbox-holder {										right: -3px !important;}
}
@media only screen and (min-width:321px)and (max-width:360px)							{
.chatbox-holder {										right: -3px !important;}
}
@media only screen and (width:360px)							{
.chatbox-holder {										right: -7px !important;}
}
@media only screen and (min-width :361px) and (max-width : 580px){
.chatbox-holder {										right: 5px !important;}
}



