.checkbox-styled:not(ie8),
.radio-styled:not(ie8) {
  position: relative;
  margin-top: 0;
}
.checkbox-styled:not(ie8) input ~ span,
.radio-styled:not(ie8) input ~ span {
  position: relative;
  padding-left: 30px;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-top;
}
.checkbox-styled:not(ie8) input ~ span:before,
.radio-styled:not(ie8) input ~ span:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #535858;
}
.checkbox-styled:not(ie8) input[type="radio"],
.radio-styled:not(ie8) input[type="radio"],
.checkbox-styled:not(ie8) input[type="checkbox"],
.radio-styled:not(ie8) input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-styled:not(ie8) label,
.radio-styled:not(ie8) label {
  padding-left: 0;
}
.checkbox-styled:not(ie8).radio-inline,
.radio-styled:not(ie8).radio-inline,
.checkbox-styled:not(ie8).checkbox-inline,
.radio-styled:not(ie8).checkbox-inline {
  padding-left: 0;
}
.checkbox-styled:not(ie8).disabled ~ span:before,
.radio-styled:not(ie8).disabled ~ span:before,
.checkbox-styled:not(ie8) input[disabled] ~ span:before,
.radio-styled:not(ie8) input[disabled] ~ span:before,
.checkbox-styled:not(ie8) input[readonly] ~ span:before,
.radio-styled:not(ie8) input[readonly] ~ span:before {
  border-color: #e5e6e6;
}
.checkbox-styled:not(ie8).disabled:checked ~ span:before,
.radio-styled:not(ie8).disabled:checked ~ span:before,
.checkbox-styled:not(ie8) input[disabled]:checked ~ span:before,
.radio-styled:not(ie8) input[disabled]:checked ~ span:before,
.checkbox-styled:not(ie8) input[readonly]:checked ~ span:before,
.radio-styled:not(ie8) input[readonly]:checked ~ span:before {
  border-color: #e5e6e6;
}
.checkbox-styled:not(ie8).disabled:checked ~ span:after,
.radio-styled:not(ie8).disabled:checked ~ span:after,
.checkbox-styled:not(ie8) input[disabled]:checked ~ span:after,
.radio-styled:not(ie8) input[disabled]:checked ~ span:after,
.checkbox-styled:not(ie8) input[readonly]:checked ~ span:after,
.radio-styled:not(ie8) input[readonly]:checked ~ span:after {
  background-color: #e5e6e6;
}
.checkbox-styled:not(ie8) input ~ span:before {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.checkbox-styled:not(ie8) input:checked ~ span:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 10px;
  border-color: #0aa89e;
  border-top-style: none;
  border-right-style: none;
}

.checkbox-styled:not(ie8),
.radio-styled:not(ie8) {
  position: relative;
  margin-top: 0;
}
.checkbox-styled:not(ie8) input ~ span,
.radio-styled:not(ie8) input ~ span {
  position: relative;
  padding-left: 30px;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-top;
}
.checkbox-styled:not(ie8) input ~ span:before,
.radio-styled:not(ie8) input ~ span:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #535858;
}
.checkbox-styled:not(ie8) input[type="radio"],
.radio-styled:not(ie8) input[type="radio"],
.checkbox-styled:not(ie8) input[type="checkbox"],
.radio-styled:not(ie8) input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.btn.btn-flat                                                                {padding: 4.5px 7px;color: #969c9c;}
.check_vendor_background                                                     {background-color:#d3e4ef;}
.vendor_checkboxborder_gray                                                  {border: 1px solid #c2d8e6 !important; border-radius:4px;}
.heading_checkbox                                                            {color: #244996;font-size:19px;font-weight: 400; text-align:left; padding:10px 0px;}

.checkbox-styled:not(ie8), .radio-styled:not(ie8) {
    margin-top: 0;
    position: relative;
}
.checkbox-styled:not(ie8) input ~ span, .radio-styled:not(ie8) input ~ span {
    cursor: pointer;
    display: inline-block;
    padding-left: 30px;
    position: relative;
    vertical-align: text-top;
}
.checkbox-styled:not(ie8) input ~ span::before, .radio-styled:not(ie8) input ~ span::before {
    border: 2px solid #535858;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 1;
}
.checkbox-styled:not(ie8) input[type="radio"], .radio-styled:not(ie8) input[type="radio"], .checkbox-styled:not(ie8) input[type="checkbox"], .radio-styled:not(ie8) input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.checkbox-styled:not(ie8) label, .radio-styled:not(ie8) label {
    padding-left: 0;
}
.checkbox-styled.radio-inline:not(ie8), .radio-styled.radio-inline:not(ie8), .checkbox-styled.checkbox-inline:not(ie8), .radio-styled.checkbox-inline:not(ie8) {
    padding-left: 0;
}
.checkbox-styled.disabled:not(ie8) ~ span::before, .radio-styled.disabled:not(ie8) ~ span::before, .checkbox-styled:not(ie8) input[disabled] ~ span::before, .radio-styled:not(ie8) input[disabled] ~ span::before, .checkbox-styled:not(ie8) input[readonly] ~ span::before, .radio-styled:not(ie8) input[readonly] ~ span::before {
    border-color: #e5e6e6;
}
.checkbox-styled.disabled:checked:not(ie8) ~ span::before, .radio-styled.disabled:checked:not(ie8) ~ span::before, .checkbox-styled:not(ie8) input[disabled]:checked ~ span::before, .radio-styled:not(ie8) input[disabled]:checked ~ span::before, .checkbox-styled:not(ie8) input[readonly]:checked ~ span::before, .radio-styled:not(ie8) input[readonly]:checked ~ span::before {
    border-color: #e5e6e6;
}
.checkbox-styled.disabled:checked:not(ie8) ~ span::after, .radio-styled.disabled:checked:not(ie8) ~ span::after, .checkbox-styled:not(ie8) input[disabled]:checked ~ span::after, .radio-styled:not(ie8) input[disabled]:checked ~ span::after, .checkbox-styled:not(ie8) input[readonly]:checked ~ span::after, .radio-styled:not(ie8) input[readonly]:checked ~ span::after {
    background-color: #e5e6e6;
}
.checkbox-styled:not(ie8) input ~ span::before {
    transition: all 0.2s ease-in-out 0s;
}
.checkbox-styled:not(ie8) input:checked ~ span::before {
    border-color: #0aa89e;
    border-right-style: none;
    border-top-style: none;
    height: 10px;
    transform: rotate(-45deg);
}
.form-inverse .checkbox-styled:not(ie8) input ~ span::before, .form-inverse .radio-styled:not(ie8) input ~ span::before {
    border-color: rgba(255, 255, 255, 0.8);
}
.form-inverse .checkbox-styled:not(ie8) input:checked ~ span::before, .form-inverse .radio-styled:not(ie8) input:checked ~ span::before {
    border-color: #0aa89e;
}
.form-inverse .checkbox-styled.disabled:not(ie8) ~ span::before, .form-inverse .radio-styled.disabled:not(ie8) ~ span::before, .form-inverse .checkbox-styled:not(ie8) input[disabled] ~ span::before, .form-inverse .radio-styled:not(ie8) input[disabled] ~ span::before, .form-inverse .checkbox-styled:not(ie8) input[readonly] ~ span::before, .form-inverse .radio-styled:not(ie8) input[readonly] ~ span::before, .form-inverse .checkbox-styled.disabled:checked:not(ie8) ~ span::before, .form-inverse .radio-styled.disabled:checked:not(ie8) ~ span::before, .form-inverse .checkbox-styled:not(ie8) input[disabled]:checked ~ span::before, .form-inverse .radio-styled:not(ie8) input[disabled]:checked ~ span::before, .form-inverse .checkbox-styled:not(ie8) input[readonly]:checked ~ span::before, .form-inverse .radio-styled:not(ie8) input[readonly]:checked ~ span::before {
    border-color: rgba(255, 255, 255, 0.2);
}
.form-inverse .checkbox-styled.disabled:checked:not(ie8) ~ span::after, .form-inverse .radio-styled.disabled:checked:not(ie8) ~ span::after, .form-inverse .checkbox-styled:not(ie8) input[disabled]:checked ~ span::after, .form-inverse .radio-styled:not(ie8) input[disabled]:checked ~ span::after, .form-inverse .checkbox-styled:not(ie8) input[readonly]:checked ~ span::after, .form-inverse .radio-styled:not(ie8) input[readonly]:checked ~ span::after {
    background-color: rgba(255, 255, 255, 0.2);
}
.checkbox-styled.checkbox-default-bright:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-default-bright:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-default-bright:not(ie8) input:checked ~ span::before, .radio-styled.radio-default-bright:not(ie8) input:checked ~ span::before {
    border-color: #ffffff;
}
.checkbox-styled.checkbox-default-bright:not(ie8) input ~ span::after, .radio-styled.checkbox-default-bright:not(ie8) input ~ span::after, .checkbox-styled.radio-default-bright:not(ie8) input ~ span::after, .radio-styled.radio-default-bright:not(ie8) input ~ span::after {
    background-color: #ffffff;
}
.checkbox-styled.checkbox-default-light:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-default-light:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-default-light:not(ie8) input:checked ~ span::before, .radio-styled.radio-default-light:not(ie8) input:checked ~ span::before {
    border-color: #f2f3f3;
}
.checkbox-styled.checkbox-default-light:not(ie8) input ~ span::after, .radio-styled.checkbox-default-light:not(ie8) input ~ span::after, .checkbox-styled.radio-default-light:not(ie8) input ~ span::after, .radio-styled.radio-default-light:not(ie8) input ~ span::after {
    background-color: #f2f3f3;
}
.checkbox-styled.checkbox-default:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-default:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-default:not(ie8) input:checked ~ span::before, .radio-styled.radio-default:not(ie8) input:checked ~ span::before {
    border-color: #e5e6e6;
}
.checkbox-styled.checkbox-default:not(ie8) input ~ span::after, .radio-styled.checkbox-default:not(ie8) input ~ span::after, .checkbox-styled.radio-default:not(ie8) input ~ span::after, .radio-styled.radio-default:not(ie8) input ~ span::after {
    background-color: #e5e6e6;
}
.checkbox-styled.checkbox-default-dark:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-default-dark:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-default-dark:not(ie8) input:checked ~ span::before, .radio-styled.radio-default-dark:not(ie8) input:checked ~ span::before {
    border-color: #20252b;
}
.checkbox-styled.checkbox-default-dark:not(ie8) input ~ span::after, .radio-styled.checkbox-default-dark:not(ie8) input ~ span::after, .checkbox-styled.radio-default-dark:not(ie8) input ~ span::after, .radio-styled.radio-default-dark:not(ie8) input ~ span::after {
    background-color: #20252b;
}
.checkbox-styled.checkbox-primary-bright:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-primary-bright:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-primary-bright:not(ie8) input:checked ~ span::before, .radio-styled.radio-primary-bright:not(ie8) input:checked ~ span::before {
    border-color: #caf0ee;
}
.checkbox-styled.checkbox-primary-bright:not(ie8) input ~ span::after, .radio-styled.checkbox-primary-bright:not(ie8) input ~ span::after, .checkbox-styled.radio-primary-bright:not(ie8) input ~ span::after, .radio-styled.radio-primary-bright:not(ie8) input ~ span::after {
    background-color: #caf0ee;
}
.checkbox-styled.checkbox-primary-light:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-primary-light:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-primary-light:not(ie8) input:checked ~ span::before, .radio-styled.radio-primary-light:not(ie8) input:checked ~ span::before {
    border-color: #7dd8d2;
}
.checkbox-styled.checkbox-primary-light:not(ie8) input ~ span::after, .radio-styled.checkbox-primary-light:not(ie8) input ~ span::after, .checkbox-styled.radio-primary-light:not(ie8) input ~ span::after, .radio-styled.radio-primary-light:not(ie8) input ~ span::after {
    background-color: #7dd8d2;
}
.checkbox-styled.checkbox-primary:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-primary:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-primary:not(ie8) input:checked ~ span::before, .radio-styled.radio-primary:not(ie8) input:checked ~ span::before {
    border-color: #0aa89e;
}
.checkbox-styled.checkbox-primary:not(ie8) input ~ span::after, .radio-styled.checkbox-primary:not(ie8) input ~ span::after, .checkbox-styled.radio-primary:not(ie8) input ~ span::after, .radio-styled.radio-primary:not(ie8) input ~ span::after {
    background-color: #0aa89e;
}
.checkbox-styled.checkbox-primary-dark:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-primary-dark:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-primary-dark:not(ie8) input:checked ~ span::before, .radio-styled.radio-primary-dark:not(ie8) input:checked ~ span::before {
    border-color: #066265;
}
.checkbox-styled.checkbox-primary-dark:not(ie8) input ~ span::after, .radio-styled.checkbox-primary-dark:not(ie8) input ~ span::after, .checkbox-styled.radio-primary-dark:not(ie8) input ~ span::after, .radio-styled.radio-primary-dark:not(ie8) input ~ span::after {
    background-color: #066265;
}
.checkbox-styled.checkbox-accent-bright:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-accent-bright:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-accent-bright:not(ie8) input:checked ~ span::before, .radio-styled.radio-accent-bright:not(ie8) input:checked ~ span::before {
    border-color: #e9c9ef;
}
.checkbox-styled.checkbox-accent-bright:not(ie8) input ~ span::after, .radio-styled.checkbox-accent-bright:not(ie8) input ~ span::after, .checkbox-styled.radio-accent-bright:not(ie8) input ~ span::after, .radio-styled.radio-accent-bright:not(ie8) input ~ span::after {
    background-color: #e9c9ef;
}
.checkbox-styled.checkbox-accent-light:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-accent-light:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-accent-light:not(ie8) input:checked ~ span::before, .radio-styled.radio-accent-light:not(ie8) input:checked ~ span::before {
    border-color: #c77bd4;
}
.checkbox-styled.checkbox-accent-light:not(ie8) input ~ span::after, .radio-styled.checkbox-accent-light:not(ie8) input ~ span::after, .checkbox-styled.radio-accent-light:not(ie8) input ~ span::after, .radio-styled.radio-accent-light:not(ie8) input ~ span::after {
    background-color: #c77bd4;
}
.checkbox-styled.checkbox-accent:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-accent:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-accent:not(ie8) input:checked ~ span::before, .radio-styled.radio-accent:not(ie8) input:checked ~ span::before {
    border-color: #9c27b0;
}
.checkbox-styled.checkbox-accent:not(ie8) input ~ span::after, .radio-styled.checkbox-accent:not(ie8) input ~ span::after, .checkbox-styled.radio-accent:not(ie8) input ~ span::after, .radio-styled.radio-accent:not(ie8) input ~ span::after {
    background-color: #9c27b0;
}
.checkbox-styled.checkbox-accent-dark:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-accent-dark:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-accent-dark:not(ie8) input:checked ~ span::before, .radio-styled.radio-accent-dark:not(ie8) input:checked ~ span::before {
    border-color: #681a7f;
}
.checkbox-styled.checkbox-accent-dark:not(ie8) input ~ span::after, .radio-styled.checkbox-accent-dark:not(ie8) input ~ span::after, .checkbox-styled.radio-accent-dark:not(ie8) input ~ span::after, .radio-styled.radio-accent-dark:not(ie8) input ~ span::after {
    background-color: #681a7f;
}
.checkbox-styled.checkbox-success:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-success:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-success:not(ie8) input:checked ~ span::before, .radio-styled.radio-success:not(ie8) input:checked ~ span::before {
    border-color: #4caf50;
}
.checkbox-styled.checkbox-success:not(ie8) input ~ span::after, .radio-styled.checkbox-success:not(ie8) input ~ span::after, .checkbox-styled.radio-success:not(ie8) input ~ span::after, .radio-styled.radio-success:not(ie8) input ~ span::after {
    background-color: #4caf50;
}
.checkbox-styled.checkbox-warning:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-warning:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-warning:not(ie8) input:checked ~ span::before, .radio-styled.radio-warning:not(ie8) input:checked ~ span::before {
    border-color: #ff9800;
}
.checkbox-styled.checkbox-warning:not(ie8) input ~ span::after, .radio-styled.checkbox-warning:not(ie8) input ~ span::after, .checkbox-styled.radio-warning:not(ie8) input ~ span::after, .radio-styled.radio-warning:not(ie8) input ~ span::after {
    background-color: #ff9800;
}
.checkbox-styled.checkbox-danger:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-danger:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-danger:not(ie8) input:checked ~ span::before, .radio-styled.radio-danger:not(ie8) input:checked ~ span::before {
    border-color: #f44336;
}
.checkbox-styled.checkbox-danger:not(ie8) input ~ span::after, .radio-styled.checkbox-danger:not(ie8) input ~ span::after, .checkbox-styled.radio-danger:not(ie8) input ~ span::after, .radio-styled.radio-danger:not(ie8) input ~ span::after {
    background-color: #f44336;
}
.checkbox-styled.checkbox-info:not(ie8) input:checked ~ span::before, .radio-styled.checkbox-info:not(ie8) input:checked ~ span::before, .checkbox-styled.radio-info:not(ie8) input:checked ~ span::before, .radio-styled.radio-info:not(ie8) input:checked ~ span::before {
    border-color: #2196f3;
}
.checkbox-styled.checkbox-info:not(ie8) input ~ span::after, .radio-styled.checkbox-info:not(ie8) input ~ span::after, .checkbox-styled.radio-info:not(ie8) input ~ span::after, .radio-styled.radio-info:not(ie8) input ~ span::after {
    background-color: #2196f3;
}
.checkbox-styled:not(ie8), .radio-styled:not(ie8) {
    margin-top: 0;
    position: relative;
}
.checkbox-styled:not(ie8) input ~ span, .radio-styled:not(ie8) input ~ span {
    cursor: pointer;
    display: inline-block;
    padding-left: 30px;
    position: relative;
    vertical-align: text-top;
}
.checkbox-styled:not(ie8) input ~ span::before, .radio-styled:not(ie8) input ~ span::before {
    border: 2px solid #535858;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 1;
}
.checkbox-styled:not(ie8) input[type="radio"], .radio-styled:not(ie8) input[type="radio"], .checkbox-styled:not(ie8) input[type="checkbox"], .radio-styled:not(ie8) input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.checkbox-styled:not(ie8) label, .radio-styled:not(ie8) label {
    padding-left: 0;
}
.checkbox-styled.radio-inline:not(ie8), .radio-styled.radio-inline:not(ie8), .checkbox-styled.checkbox-inline:not(ie8), .radio-styled.checkbox-inline:not(ie8) {
    padding-left: 0;
}
.checkbox-styled.disabled:not(ie8) ~ span::before, .radio-styled.disabled:not(ie8) ~ span::before, .checkbox-styled:not(ie8) input[disabled] ~ span::before, .radio-styled:not(ie8) input[disabled] ~ span::before, .checkbox-styled:not(ie8) input[readonly] ~ span::before, .radio-styled:not(ie8) input[readonly] ~ span::before {
    border-color: #e5e6e6;
}
.checkbox-styled.disabled:checked:not(ie8) ~ span::before, .radio-styled.disabled:checked:not(ie8) ~ span::before, .checkbox-styled:not(ie8) input[disabled]:checked ~ span::before, .radio-styled:not(ie8) input[disabled]:checked ~ span::before, .checkbox-styled:not(ie8) input[readonly]:checked ~ span::before, .radio-styled:not(ie8) input[readonly]:checked ~ span::before {
    border-color: #e5e6e6;
}
.checkbox-styled.disabled:checked:not(ie8) ~ span::after, .radio-styled.disabled:checked:not(ie8) ~ span::after, .checkbox-styled:not(ie8) input[disabled]:checked ~ span::after, .radio-styled:not(ie8) input[disabled]:checked ~ span::after, .checkbox-styled:not(ie8) input[readonly]:checked ~ span::after, .radio-styled:not(ie8) input[readonly]:checked ~ span::after {
    background-color: #e5e6e6;
}
.checkbox-styled:not(ie8) input ~ span::before {
    transition: all 0.2s ease-in-out 0s;
}
.checkbox-styled:not(ie8) input:checked ~ span::before {
    border-color: #0aa89e;
    border-right-style: none;
    border-top-style: none;
    height: 10px;
    transform: rotate(-45deg);
}
.radio-styled:not(ie8) input ~ span::before {
    border-radius: 50%;
    top: 0;
    transition: all 0.15s ease-in-out 0s;
}
.radio-styled:not(ie8) input:checked ~ span::before {
    border-color: #0aa89e;
}
.radio-styled:not(ie8) input ~ span::after {
    background-color: #0aa89e;
    border-radius: 50%;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    top: 10px;
    transition: all 0.15s ease-in-out 0s;
    width: 0;
    z-index: 1;
}
.radio-styled:not(ie8) input:checked ~ span::after {
    height: 10px;
    left: 5px;
    top: 5px;
    width: 10px;
}
.card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #313534;
    margin-bottom: 24px;
    position: relative;
}
.card::before, .card::after {
    content: " ";
    display: table;
}
.card::after {
    clear: both;
}
.card .btn-icon-toggle:hover, .card .btn-flat:hover {
    background-color: rgba(12, 12, 12, 0.07);
}
.card > .nano:last-child {
    border-radius: 0 0 2px 2px;
}
.card.no-shadow {
    box-shadow: none;
}
.card-body {
    height: auto !important;
    padding: 11px;
    position: relative;
}
.card-body::before, .card-body::after {
    content: " ";
    display: table;
}
.card-body::after {
    clear: both;
}
.card-body:last-child {
    border-radius: 0 0 2px 2px;
}
.badge.style-default {
    background-color: #e5e6e6;
    border-color: #e5e6e6;
    color: #313534;
}
.list {
    line-height: 24px;
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
}
.list .tile {
    display: table;
    margin: 6px;
    min-height: 48px;
    position: relative;
    width: 98%;
}
.list .tile > a {
    text-decoration: none;
}
.list .tile > a:hover {
    color: #0aa89e;
}
.list .tile .tile-content {
    display: table-cell;
    padding-left: 16px;
}
.list .tile .tile-content:last-child {
    padding-right: 16px;
}
.list .tile .tile-content > div {
    display: table-cell;
    vertical-align: middle;
}
.list .tile > .btn {
    display: table-cell;
    min-width: 56px;
    text-align: center;
    vertical-align: middle;
    width: 56px;
}
.list .tile > .btn .fa, .list .tile > .btn .md, .list .tile > .btn .glyphicon {
    font-size: 20px;
    text-align: center;
    width: 24px;
}
.list .tile .tile-icon {
    min-width: 56px;
    padding: 8px 0;
    text-align: right;
    width: 56px;
}
.list .tile .tile-icon:first-child {
    text-align: left;
}
.list .tile .tile-icon img {
    border-radius: 40px;
    height: 40px;
    width: 40px;
}
.list .tile .tile-icon .fa, .list .tile .tile-icon .md, .list .tile .tile-icon .glyphicon {
    font-size: 20px;
    margin-top: 4px;
    text-align: center;
    width: 24px;
}
.list .tile .tile-text {
    font-size: 16px;
    padding: 12px 0;
    width: 100%;
}
.list .tile .tile-text small {
    display: block;
    font-size: 14px;
    opacity: 0.6;
}
.list .tile .tile-text small span {
    opacity: 1;
}
.list .tile .checkbox-styled:not(ie8), .list .tile .radio-styled:not(ie8) {
    display: table-cell;
    padding: 0;
}
.list .tile .checkbox-styled:not(ie8) label, .list .tile .radio-styled:not(ie8) label {
    display: block;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-top: 9px;
}
.list .tile .checkbox-styled:last-child:not(ie8) label, .list .tile .radio-styled:last-child:not(ie8) label {
    padding-right: 16px;
}
.list .tile .checkbox-styled:not(ie8) input ~ span, .list .tile .radio-styled:not(ie8) input ~ span {
    padding-left: 54px;
}
.list .tile .ink-reaction .ink {
    background-color: rgba(83, 88, 88, 0.15);
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
}
.list li.divider-full-bleed, .list li.divider-inset {
    position: relative;
}
.list li.divider-full-bleed::after, .list li.divider-inset::after, .list.divider-full-bleed li::after, .list.divider-inset li::after {
    background: rgba(150, 156, 156, 0.3) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
}
.list li.divider-full-bleed::after, .list.divider-full-bleed li::after {
    left: 0;
}
.list li.divider-inset::after, .list.divider-inset li::after {
    left: 72px;
}
.btn.btn-flat {
    color: #969c9c;
    padding: 4.5px 7px;
}
.check_vendor_background {
    background-color: #d3e4ef;
}
.vendor_checkboxborder_gray {
    border: 1px solid #c2d8e6 !important;
    border-radius: 4px;
}
.heading_checkbox {
    color: #244996;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 0;
    text-align: left;
}
.vendor_subscriber {
    height: 150px !important;
}
ul.vendor_subscriber li {
    background: #c0e6f4 none repeat scroll 0 0;
    float: left;
    margin: 7px;
    padding: 10px !important;
}
ul.vendor_subscriber li:hover {
    background: #f2ddcb none repeat scroll 0 0;
}
.subscriber_active {
    background: #f2ddcb none repeat scroll 0 0 !important;
}
.vendor_addnew {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #06f;
    padding: 6px 7px;
    text-align: center;
}
.vendor_addnew:hover {
    background: #fff none repeat scroll 0 0;
    color: #06f;
}
.vendor_work_addbtn {
    background-color: #ddd;
    height: 30px;
    width: 30px;
}
.vendor_work_addbtn:hover {
    background-color: #2e77b9;
}
.vendor_work_addbtn:hover a {
    color: #fff !important;
}
.vendor_work_addbtn span {
    display: inline-block;
    font-size: 14px;
    padding: 5px 9px;
}
.vendor_work_addbtn, .vendor_work_addbtn:hover {
    transition: all 0.4s ease 0s;
}
.vendor_editsymbolchange {
    margin-left: 65px !important;
}
.btn-file {
    overflow: hidden;
    position: relative;
}
.btn-file input[type="file"] {
    background: #fff none repeat scroll 0 0;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.butclr {
    cursor: pointer;
    float: left;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.butclr:hover {
    box-shadow: 0 0 0 2px #e0ffff, 0 0 0 3px #b0c4de;
}
