@charset "utf-8";
/* CSS Document */
.feed-bg 					{border:1px solid #ddd;background:#fff;margin-bottom:20px;box-shadow: 0 0 1px rgba(0, 0, 0, 0, 0.12); padding-bottom:10px; width:100%; float:left;}
.lble						{font-size:14px;text-align:right;color:#000;font-weight:600;overflow: hidden;clear: left;text-overflow: ellipsis;white-space: nowrap;}
.srg						{color:#139061;cursor:pointer;font-size:14px; margin-left:10px;float:right;text-align:left;}
.srg:hover					{color:#139061;}
.padtb						{padding-top:1px;padding-bottom:1px;}
.feed-bg					{padding:10px;cursor: pointer;position: relative;}
.sno						{color:#881f46;float:left;font-size:22px;padding:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.padtb						{padding-top:5px;padding-bottom:5px;}
.brdr_lft					{border-left:1px dashed #6f6d6d;}
.prtg						{width:212px!important;}
.tot						{font-size:17px;color:#266aa8;}
.srg_box:hover				{border:1px solid #3580C4 !important; background:#fff !important; color:#3580C4 !important;}
.srg_box					{background:#3580C4!important;border:1px solid #3580C4;cursor: pointer;color:#fff!important; font-size:14px;font-weight:600;padding: 5px 10px; 
							text-align: center; transition: all 0.4s ease 0s;}
.mr_lt						{margin-left:5px;}
.mar_top					{margin-top:20px;}
.lbl_move					{height:40px !important;}
.amt_lbl					{color:#e91e63;font-size:17px;float:right;margin-top:10px;margin-bottom:20px;}
.amo_lbl					{float:right;margin-top:-18px;margin-right:50px;font-size:15px;color:#e91e63;}
.t_amt 						{color: #e91e63 !important;font-size: 14px!important;font-weight: 600!important;}
.cont_bt                        		{float:left;}
.cont_bt ul                     		{float:right; padding-bottom:10px;}
.cont_bt ul li                  		{float:left; list-style-type:none !important;}
.cont_bt ul li a:hover         	{border:1px solid #3580C4 !important; background:#fff !important; color:#3580C4 !important; } 
.cont_bt ul li a                		{background:#3580C4!important;border: 1px solid hsl(218, 92%, 62%);  float:left;font-weight:600;color:#fff!important;font-size:14px; padding: 5px 10px; text-align: center; transition: all 0.4s ease 0s; margin-top:5px !important;}
.panel_heads                    		{display:block;border-top-right-radius:0px !important; border-top-left-radius:0px !important;cursor:pointer;padding:10px 15px !important;transition: all 0.4s ease 0s; /*background:#D0E8FE!important;border-bottom:1px solid #3580C4 !important;*/ background:#DDE7F1!important;border-bottom:1px solid hsla(209, 57%, 49%, 0.44)!important;}
.panel_heads:hover              	{border-bottom:1px solid #3580C4 !important;}
.panel-heading.collapsed .accordion-toggle::after {content: "\f078"; color:#6796c0!important;font-size:14px !important; font-weight:normal !important;}
.accordion-toggle::after       {color:inherit;content: "\f078"; float:right;font-family:"FontAwesome";font-size:14px important;font-weight:normal !important;color:#2d74b4;!important}
.panel-body 					{padding: 0px!important;}
.panel_heads:hover 			{background-position: 50% 100% !important;}
.panel-info 					{border: none !important;}
.bgcolr 						{background: #F5F5F5!important;border: 1px solid rgba(53, 128, 196, 0.44) !important;border-top: none !important;}  
.table-responsive 			{box-shadow: 0 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;}
.nav-tabs                       		{border-bottom:2px solid #878B92!important; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; background:#E2EBEF!important; }
.nav-tabs > li > a              		{border:none; border-radius:0px 0px 0px 0px !important; font-size:14px !important; color:#083084!important; font-weight:600 !important;}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color:#083084!important; background:#E2EBEF!important; }
.nav-tabs > li > a::after       	{content: ""; background:#203084!important; height:2px; position: absolute; width: 100%; left: 0px; bottom:-1px;transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after        	{background:#21527d none repeat scroll 0% 0%; color: #fff; }
.panel_heads:hover 			{background-position: 50% 100% !important;}
.panel-info 					{border: none !important;}
.tab-pane                       		{padding: 15px 0; }
.card > ul                      		{background:rgba(103, 128, 159, 0.31)!important;}
.card                           		{background:none !important;margin-bottom:20px!important; border:none !important; margin-top:2%; }
.floor_name_area h4 			{font-size: 16px;color: #230b45;border-left: 5px solid #745d93;width: 250px;min-width: 200px; padding: 12px;}
.floor_name_area 			{width: 29% !important;background: #fef3e1;clear: both;margin:0px !important;margin-top: 10px !important;}
.red-ths					{background: #B0C3EB!important;}
.rate_pri 										{color: #e91e63;font-size: 14px;font-weight: 600;}
.clr-gre 					{color:#4CAF50;font-size:12px;display:block;text-align:center;line-height:20px;cursor:pointer;}
.subDiv::before 				{border-color: transparent transparent #ababab;border-style: solid;border-width: 8px;bottom: 100%;content: "";display: block;
	height: 8px;position: absolute;width: 8px;right:33px;}
.subDiv						{background-color:#e7e9ec; border:1px solid #ddd; float:left; width:98%; margin-left:2%; position:relative; margin-top:6px !important;}
.colgreen					{margin-left:55px; color:#fff !important; background:#199233; padding-left:5px; padding-right:5px; margin-bottom:10px;}
.colred						{color:#fff !important; background:#EE5951;padding-left:5px; padding-right:5px; margin-left:5px;}
.table-responsive table.table tr.padi05 td { padding:10px !important;}
.table-responsive table.table tr.padi05 td .parent_padi05{ width:100%; padding:6px 4px; background:hsla(210, 42%, 91%, 0.23);border:1px solid #E2EBEF;cursor: not-allowed; }
.total-clr 					{color: #063;border: 1px solid #063;font-weight: 600 !important;font-size: 16px !important;}

 /*Display error on textbox tooltip*/
.parent_text.error                 				{border:1px solid #D64541!important;color:#333!important;background:#FFEBEB !important;}
.error + .tooltip > .tooltip-inner			{background: #E74C3C;}
.error + .tooltip > .tooltip-arrow 			{border-top-color: #E74C3C;}
.ribbon 										{position: absolute;right: -5px; top: -5px;z-index: 1;overflow: hidden;width: 75px; height: 75px;text-align: right;}
.ribbon span 								{font-size: 10px;font-weight: bold;color: #FFF;text-transform: uppercase;text-align: center;line-height: 20px;transform: rotate(45deg);
											-webkit-transform: rotate(45deg);width: 100px;display: block;background: #79A70A;background: linear-gradient(#05EFF7 0%, #087F8F 100%);
											box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);position: absolute;top: 19px; right: -21px;}
.ribbon span::before 						{content: "";position: absolute; left: 0px; top: 100%;z-index: -1;border-left: 3px solid #087F8F;border-right: 3px solid transparent;
											border-bottom: 3px solid transparent;border-top: 3px solid #087F8F;}
.ribbon span::after 							{content: "";position: absolute; right: 0px; top: 100%;z-index: -1;border-left: 3px solid transparent;border-right: 3px solid #087F8F;
											border-bottom: 3px solid transparent;border-top: 3px solid #087F8F;}
.txt_center 									{text-align: center !important;}
.clear 										{clear: both !important;}
.strm_loader							 	{color: #4e4e4e;font-size: 12px;height: 25px;margin-bottom: 10px;}
.strm_loader span							{display: inline-block;height: 15px;width: 15px;position: relative;top: 3px;right: 5px;border-top: 5px solid #3ACFD5;border-bottom: 5px solid #3a4ed5;
											background-position: 0 0, 100% 0;background-repeat: no-repeat;-webkit-background-size: 2px 100%;-moz-background-size: 2px 100%;
											background-size: 2px 100%;background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
											background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%),
											-o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); 
											-webkit-animation: rotate_360deg 2s infinite;-moz-animation: rotate_360deg 2s infinite;animation: rotate_360deg 2s infinite;}
/*success-<->svg-->*/ 
.exp-tex 									{border: 1px solid #ccc;resize: none;font-size: 14px!important;height: 100px;transition: all 0.5s ease;width: 100%;padding: 5px;}
.exp-tex:focus                  					{-moz-box-shadow: 0 0 5px #ccc;-webkit-box-shadow: 0 0 5px#ccc;box-shadow: 0 0 5px #ccc;height:130px!important;border:1px solid #7EB6FF;}
@-webkit-keyframes checkmark 					{0% {stroke-dashoffset: 50px}100% {stroke-dashoffset: 0}}
@-ms-keyframes checkmark 						{0% {stroke-dashoffset: 50px}100% {stroke-dashoffset: 0}}
@keyframes checkmark 							{0% {stroke-dashoffset: 50px}100% {stroke-dashoffset: 0}}
@-webkit-keyframes checkmark-circle				{0% {stroke-dashoffset: 240px}100% {stroke-dashoffset: 480px}}
@-ms-keyframes checkmark-circle 				{0% {stroke-dashoffset: 240px}100% {stroke-dashoffset: 480px}}
@keyframes checkmark-circle 					{0% {stroke-dashoffset: 240px}100% {stroke-dashoffset: 480px}}

.inlinesvg .svg svg 								{display: inline;}
.success_box									{width:100%;min-height:0px!important;padding-top:0% !important;}
.success_box .gosignin_btn						{width:200px; margin-top:25px !important; margin:auto; color: #fff;display: block;font-size: 20px;padding: 10px 20px; text-align:center;background-color: #50aa58;}
.success_box h1									{line-height:40px; padding:1% 4%;}
.success_box .gosignin_btn:hover					{background-color:#489e50;}
.icon-success									{/* width:72px; */height:72px;margin-bottom:2% !important;margin: auto;}
.icon-success svg path 							{-webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;animation: checkmark 0.25s ease-in-out 0.7s backwards}
.icon-success svg circle 							{-webkit-animation: checkmark-circle 0.6s ease-in-out backwards;animation: checkmark-circle 0.6s ease-in-out backwards}

/*/success-<->svg--/>*/ 


/*-----------------------------------------media qurey-----------------------------------------------------*/
@media only screen and (width :1920px)  {

}
@media only screen and (min-width : 801px) and (max-width : 980px) {
	.feed-bg {width: 50%!important;}
    .prtg {width: 100%!important;clear: both!important;}
}
@media only screen and (min-width : 769px) and (max-width : 800px){
	.prtg {width: 100%!important;clear:both !important;}

}
@media screen and (min-width : 361px) and (max-width : 768px){
	.prtg {width: 100%!important;clear:both !important;}
}
@media only screen and (min-width : 321px) and (max-width : 360px){
	.prtg {width: 100%!important;clear:both !important;}
}
@media only screen and (width : 320px)  {
	.prtg {width: 100%!important;clear:both !important;}
}
@media only screen and (width : 480px)  {
	.prtg {width: 100%!important;clear:both !important;}
}
@media only screen and (width : 640px)  {


}
@media only screen and (min-width : 981px) and (max-width : 1024px) {
.prtg {width: 100%!important;clear:both !important;}
}
@media only screen and (min-width : 1025px) and (max-width : 1310px) {
.prtg {width: 100%!important;clear:both !important;}
}

/*-------------------////////////////////////////////media query/////////////////////////////----------------*/

