.pieload_cnt								{display:block;position:relative;width:100px;height:100px; font-size:70px;cursor:default;margin:auto !important;}
.pieload_cnt>.percent						{position:absolute;top:30px;left:0;width:100%;font-size:25px; color:#254995;text-align:center;z-index:2}
.pieload_cnt>#slice							{position:absolute;width:100px;height:100px;clip:rect(0px,100px,100px,50px)}
.pieload_cnt>#slice.gt50					{clip:rect(auto,auto,auto,auto)}
.pieload_cnt>#slice>.pie					{position:absolute;border:10px solid #f00;width:100px;height:100px;clip:rect(0em,50px,100px,0px);border-radius:50px}
.piebg1>.pieload_cnt>#slice>.pie			{border-color:#728cc7;}
.piebg2>.pieload_cnt>#slice>.pie			{border-color:#e29bc5;}
.piebg3>.pieload_cnt>#slice>.pie			{border-color:#86ccaa;}
.piebg4>.pieload_cnt>#slice>.pie			{border-color:#e7cb46;}
.piebg5>.pieload_cnt>#slice>.pie			{border-color:#b89ed0;}
.pieload_cnt>#slice>.pie.fill				{-webkit-transform:rotate(180deg)!important;transform:rotate(180deg)!important}
.pieload_cnt.fill>.percent					{display:none}
.pieload_cnt:after							{content:'';display:block;position:absolute;top:10px;left:10px;width:80px;height:80px;background-color:#deecf5;border-radius:50px;z-index:0;}
.pieload_cnt:before							{content:'';display:block;position:absolute;width:100px;height:100px;border-radius:50px;opacity:.5;z-index:0}
.piebg1>.pieload_cnt:before					{background:#aec1e6;}
.piebg2>.pieload_cnt:before					{background:#f4cbe3;}
.piebg3>.pieload_cnt:before					{background:#b8f0d5;}
.piebg4>.pieload_cnt:before					{background:#f2e4a1;}
.piebg5>.pieload_cnt:before					{background:#dbc5ef;}
.pie_loader									{padding:10px;}
