@charset "utf-8";
/* CSS Document */
.overflow 													{overflow:auto; position:relative; }
ul.tree 													{display:block; font:12px Arial, Helvetica, sans-serif; color:#000; margin-bottom:250px; margin-top:20px;}
ul.tree li 													{display:inline-block; text-align:center; margin:20px; vertical-align:top;}
.vertical:before											{content:'';width:5px; height:25px; position: absolute; top:20px;left:-2px; background-color:#BDBDBD;}
ul.tree li:first-child >.vertical:before 					{display:none !important;}
ul.tree li ul li											{margin:40px 20px;}
ul.tree li ul li:first-child >.vertical:before 				{display:block !important;}
ul.tree li.tnone 											{display:none; }
ul.tree ul.tshow 											{display:block !important;}
ul.tree li .tree_div 										{display:inline-block; min-width: 100px; text-decoration:none; position:relative; z-index:4; background:#586fb3; color:#fff; font-weight:bold;border-radius : 2px;-moz-border-radius : 2px;-webkit-border-radius : 2px; transition: width 2s;-webkit-transition: width 2s;-moz-transition: width 2s;}
ul.tree li .tree_div span.activityName 						{padding:7px 10px;}
ul.tree li .tree_div span 									{display: inline-block; margin: 0 2px;}
ul.tree li .tree_div.zindex 								{z-index:inherit;}
ul.tree li form 											{width:300px;display:block; text-align:left; padding:10px; margin-top:10px; position:absolute; z-index:5; background:#ffffff; color:#8a7f51; border:1px solid #d3d3d3;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); left:0px;  font-weight:400;}
ul.tree li form input[type=checkbox] 						{}
ul.tree li form h5 											{color:#244996; font-size:14px; font-weight:100; padding:0px;}
ul.tree li form span.close 									{color:#b5b5b5;opacity:1; font-size:14px; font-weight:100;}
ul.tree li form span.close:hover 							{color:#646464;}
ul.tree li input[type=text] 								{width:70%; height:40px; font-size:16px; font-weight:400; background:#fff; padding:5px;color:#45484d; border-bottom:2px solid #ccc; margin:15px 0 5px 0; display:block; float:left;}
ul.tree li input[type=password] 							{width:100%; background:#fff; padding:4px; color:#45484d; border:none;margin:15px 0 5px 0; display:block; float:left;}
ul.tree li select 											{width:70%; background:#fff; padding:4px; color:#45484d; border:none; margin:15px 0 5px 0; display:block; float:left;}
ul.tree li textarea 										{height:35px; width:70%; background:#ffc; padding:4px; color:#000; border:none; margin:15px 0 5px 0;display:block; float:left;}
ul.tree li textarea.error 									{background:#d84a38;}
ul.tree li textarea:focus 									{background:#ffc;}
ul.tree li .submit, ul.tree li .edit 						{width:28%; border:none; text-align:center; display:block; font-size:11px; font-weight:bold; color:#fff; padding:5px 15px; cursor:pointer; margin-top:31px; background:#b5926e; float:right; text-transform:capitalize;}
ul.tree li .submit:hover, ul.tree li .edit:hover 			{background:#976f46;}
ul.tree li .tree_div.current 								{background:#52c068;}
ul.tree li .tree_div.children 								{background:#f8a545;}
ul.tree li .tree_div.parent 								{background:#852b99;}
ul.tree li span.vertical, ul.tree li span.horizontal 		{display:inline-block; position:absolute; z-index:-1; background:#cecdcd;}
ul.tree li span.vertical 									{width:1px;}
ul.tree li span.horizontal 									{height:1px;}
ul.tree li b.thide::before 									{position: absolute;font-family:'FontAwesome';content:'\f147'; line-height:1; color:#a1a1a1; font-weight:100 !important; font-size:13px;bottom:0; left:-13px;cursor:pointer;}
ul.tree li b.thide.tshow::before							{position: absolute;font-family:'FontAwesome';content:'\f196';}
ul.tree li b.thide:hover::before 							{color:#1d6501 !important;}
ul.tree li b.thide.tnone 									{display:none;}
ul.tree li span.highlight									{position:absolute; width:15px; height:15px; cursor:pointer; display:none; padding:2px; background-color:#852b99;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;top:-5px; left:-5px;}
ul.tree li span.highlight:before 							{position: absolute;font-family:'FontAwesome';content:'\f1e5 '; line-height:1; color:#fff; font-weight:100 !important; font-size:9px; left:3px;}
ul.tree li span.delete_action 								{display:none; cursor:pointer; font-size:14px;line-height:1; padding-left:5px; position:relative;right:-5px;}
ul.tree li span.delete_action:hover 						{color:#060;}
span.back_btn 												{position:absolute; left:10px; top:-5px; font-size:28px; font-weight:normal !important; cursor:pointer; z-index:100;}
span.back_btn span 											{vertical-align:middle;font-size:12px}
span.back_btn:hover 										{color:#060;}
img.load 													{display:none; position:absolute;}
div.drag_error, div.delete_msg, div.edit_msg,
div.add_msg, div.drop_msg 									{position:absolute; color:#fff; position:absolute; right:10px; top:10px; padding:4px 10px; font:14px Arial, Helvetica, sans-serif; z-index:999;}
div.drag_error 												{background:#b41616;}
div.delete_msg 												{background:#b41616;}
div.edit_msg 												{background:#17A769;}
div.add_msg 												{background:#27A9E3;}
div.drop_msg 												{background:#852b99;}
/*-------------------------tree Controls------------------*/
ul.tree li .popover											{max-width:315px;}
ul.tree li .popover-content									{padding:5px 10px;}
.tree_controls a											{color:#5c5c5c;font-weight:400;font-size:14px; display:inline-block;padding:0px 10px 0px 0px;}
.tree_controls a:hover,.tree_controls a:hover span			{color:#3aa335;}
.tree_controls a span								 		{font-size:14px;color:#6f6f6f; padding-right:2px;}
