/*---------------------Vertical Timeline-------------------*/
.cd-container 												{width: 95%;max-width: 1170px;margin: 0 auto;}
.cd-container::after										{content: '';display: table;clear: both;}
.cd-timeline 												{position: relative;padding: 2em 0;margin-top: 1em;margin-bottom: 3em;}
.cd-timeline::before										{/* this is the vertical line */content: '';position: absolute;top: 0; left: 50%;margin-left: -2px;height: 100%;width: 2px;background: #d8dde1;}
.cd-top-year											    {margin: auto; width:60px; height:25px; font-size:14px; padding-top:2px; background-color:#3f4c5e;color:#fff; text-align:center;}
/*-------------------next followup detail------------------*/
.nxtflwup_detail										 	{width:100%;  height:auto !important; margin:5px 0px 5px 0px; float:left;}
.nxtflwup_detail li										 	{float:left; padding:5px 0px;font-size:15px;color:#112c45;}
.nxtflwup_detail li	.nxtflw_dt_icon							{padding:0px 5px;}
.nxtflwup_detail li	.dtl_highlight						 	{color:#ae4104;}
.nxtflwup_detail li	.dtl_highlight_time					 	{font-size:12px;}
.nxtflwup_detail li:last-child							 	{float:right;}
/*---------------------Timeline Block----------------------*/
.cd-timeline-block 											{position: relative;margin: 4em 0;}
.cd-timeline-block:after 									{content: "";display: table;clear: both;}
.cd-timeline-block:first-child 								{margin-top: 0;}
.cd-timeline-block:last-child 								{margin-bottom: 0;}
/*------------------Timeline Main Circle-------------------*/
.cd-timeline-main_circle 									{position: absolute;top: 0;left: 50%;margin-left: -16px;width: 32px;height: 32px;border-radius: 50%;box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 0 2px rgba(0, 0, 0, 0.05);}
.cd-timeline-main_circle p									{text-align:center !important;font-size:1.2em;padding-top:4px;}
.cd-timeline-main_circle.cd-followup 						{background: #bea5d7;}
.cd-timeline-main_circle.cd-followup p,
.cd-timeline-main_circle.cd-sitevisit p						{color:#fff;}
.cd-timeline-main_circle.cd-email	 						{background-color:#ffdf95;}
.cd-timeline-main_circle.cd-email p							{color:#83572e;}
.cd-timeline-main_circle.cd-sitevisit 						{background: #9fa6be;}
.cd-timeline-main_circle.cd-block 							{background: #a2e8b4;}
.cd-timeline-main_circle.cd-block p							{color:#6a603d;}
/*--------------------Timeline Content---------------------*/
.cd-timeline-content 										{position: relative;margin-left: 0;width: 45%; background: #ebf5f8;border-radius: 0.25em;padding: 1em;border: 1px solid #dddede;}
.cd-timeline-content:after 									{content: "";display: table;clear: both;}
.cd-timeline-content::before 								{content: '';position: absolute;top: 10px;left: 100%;height: 0;width: 0;border: 7px solid transparent;border-left:7px solid #ddd;}
.cd-timeline-block:nth-child(even) .cd-timeline-content 	{float: right;}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before 		{top: 10px;left: auto; right: 100%;border-color: transparent;border-right-color: #ddd;}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date 		{left: auto;right: 117%;text-align: right;}
.cssanimations .cd-timeline-main_circle.is-hidden 			{visibility: hidden;}
.cssanimations .cd-timeline-main_circle.bounce-in 			{visibility: visible;-webkit-animation: cd-bounce-1 0.6s;-moz-animation: cd-bounce-1 0.6s;animation: cd-bounce-1 0.6s;}
.cssanimations .cd-timeline-content.is-hidden 				{visibility: hidden;}
.cssanimations .cd-timeline-content.bounce-in 				{visibility: visible;-webkit-animation:cd-bounce-2 0.6s;-moz-animation: cd-bounce-2 0.6s;animation:cd-bounce-2 0.6s;}
.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {-webkit-animation: cd-bounce-2-inverse 0.6s;-moz-animation: cd-bounce-2-inverse 0.6s;animation: cd-bounce-2-inverse 0.6s;}
.cd-timeline-content h2 									{font-size:20px;float:left;width:100%;color: #4e0d46;padding:0px 0px 7px 0px;border-bottom:1px solid #d0dcdf;}
.cd-timeline-content h2 span 								{font-size:13px; color:#54575c; float:right;}
.cd-timeline-content h2 img									{width:25px; height:25px; margin:0px 5px;}
.cd-timeline-content h2 span.name_hightlight 				{font-size:15px; color:#112c45;}
.cd-timeline-content .cd-read-more,.cd-timeline-content .cd-date {display: inline-block;}
.cd-timeline-content p 										{clear:both !important;font-size:14px;color:#54575c;margin: 1em 0;line-height: 1.6; padding-top:5px;}
.cd-timeline-content .cd-date 								{position: absolute;width: 100%;left: 117%;top: -5px;font-size: 15px;font-weight:400;}
.cd-timeline-content .cd-date .cd-date_hightlight			{font-size:19px; font-weight:600;color:#121212;}
.cd-timeline-content .cd-date .cd-date_time					{font-size:12px; display:block;}
/*--------------Timeline animation keyframes---------------*/
@-webkit-keyframes cd-bounce-1 								{0% {opacity: 0;-webkit-transform: scale(0.5);}60% {opacity: 1;-webkit-transform: scale(1.2);}100% {-webkit-transform: scale(1);}}
@-moz-keyframes cd-bounce-1 								{0% {opacity: 0;-moz-transform: scale(0.5);}60% {opacity: 1;-moz-transform: scale(1.2);}100% {-moz-transform: scale(1);
}}
@keyframes cd-bounce-1 										{0% {opacity: 0;-webkit-transform: scale(0.5);-moz-transform: scale(0.5);-ms-transform: scale(0.5);-o-transform: scale(0.5);transform: scale(0.5);}60% {opacity: 1;-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);transform: scale(1.2);}100%{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}}
@-webkit-keyframes cd-bounce-2 								{0% {opacity: 0;-webkit-transform: translateX(-100px);}60% {opacity: 1;-webkit-transform: translateX(20px);}100% {    -webkit-transform: translateX(0);}}
@-moz-keyframes cd-bounce-2 								{0% {opacity: 0;-moz-transform: translateX(-100px);}60% {opacity: 1;-moz-transform: translateX(20px);}100% {    -moz-transform: translateX(0);}}
@keyframes cd-bounce-2 										{0% {opacity: 0;-webkit-transform: translateX(-100px);-moz-transform: translateX(-100px);-ms-transform: translateX(-100px);-o-transform: translateX(-100px);transform: translateX(-100px);}60% {opacity: 1;-webkit-transform: translateX(20px);-moz-transform: translateX(20px);    -ms-transform: translateX(20px);-o-transform: translateX(20px);transform: translateX(20px);}100% {-webkit-transform: translateX(0);-moz-transform: translateX(0);-ms-transform: translateX(0);-o-transform: translateX(0);transform: translateX(0);}}
@-webkit-keyframes cd-bounce-2-inverse 						{0% {opacity: 0;-webkit-transform: translateX(100px);}60% {opacity: 1;-webkit-transform: translateX(-20px);}100% {    -webkit-transform: translateX(0);}}
@-moz-keyframes cd-bounce-2-inverse 						{0% {opacity: 0;-moz-transform: translateX(100px);}60% {opacity: 1;-moz-transform: translateX(-20px);}100% {   -moz-transform: translateX(0);}}
@keyframes cd-bounce-2-inverse 								{0% {opacity: 0;-webkit-transform: translateX(100px);-moz-transform: translateX(100px);-ms-transform: translateX(100px);-o-transform: translateX(100px);transform: translateX(100px);}60% {opacity: 1;-webkit-transform: translateX(-20px);-moz-transform: translateX(-20px);-ms-transform: translateX(-20px);-o-transform: translateX(-20px);transform: translateX(-20px);}100% {-webkit-transform: translateX(0);-moz-transform: translateX(0);-ms-transform: translateX(0);
-o-transform: translateX(0);transform: translateX(0);}}
@media only screen and (min-width : 320px) and (max-width : 1170px) {
.cd-top-year											    {margin-left:1% !important;margin: inherit;}
.cd-timeline::before 										{left: 18px; margin-left:0px;}
.cd-timeline-block 											{margin: 2em 0;}
.cd-timeline-main_circle 									{left: 0;margin-left: 3px;-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;}
.cd-timeline-content 										{margin-left:60px;width: auto;}
.cd-timeline-content h2 span 								{margin-top:10px; display:block; float:none;}
.cd-timeline-content h2 span.name_hightlight 				{margin-top:3px;display:inline-block; }
.cd-timeline-content::before 								{left: auto; right: 100%;border-color: transparent;border-right-color: #ddd;}
.cd-timeline-content .cd-date								{float: left; left:0px; position:inherit !important;}
.cd-timeline-block:nth-child(even) .cd-timeline-content 	{float: left;}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date 		{text-align: left; left:0px;}
.cd-timeline-content .cd-date .cd-date_time					{display:inline-block;}
.nxtflwup_detail li:last-child							 	{float:left;}
}
