@charset "utf-8";
/* CSS Document */

/*----------------------Company Grid-----------------------*/
.company_grid li											{width:30%; margin:1% 1.5%; float:left; box-shadow:0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);}
.company_grid li:hover .compgrid_image::before				{background: rgba(0, 0, 0, 0.60);-webkit-transition: all 0.6s ease-out;-moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out;}
.company_grid li:hover .compgrid_logo img					{-webkit-transform: scale(1.1);-moz-transform: scale(1.1); -o-transform: scale(1.1);transform: scale(1.1);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.compgrid_image,.comp_map									{background-position: center;background-origin: border-box;background-size: cover;}
.compgrid_image												{width:100%; min-height:140px; display: block;}
.compgrid_image::before										{width:100%;min-height:140px !important;background: rgba(0, 0, 0, 0.30); content: "";position:absolute; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.compgrid_title												{position:relative;text-align:center; padding:20px 10px 10px 10px; font-size:15px; font-weight:600;color:#fff;}
.comp_arrowlink												{width:30px; display:inline-block; height:30px;margin:3px 3px;top:3px; text-align:center; font-size:17px; position:absolute; z-index:1;right:67px}
.comp_arrowlink a											{color:#fff; padding:2px 5px;}
.comp_arrowlink a:hover,.comp_arrowlink a:focus				{color:#f00;}
.compgrid_logo												{width:70px; height:70px;top:10px;background: rgba(0, 0, 0, 0.33);position: relative;}
.compgrid_logo img											{width:60px; height:60px; top:5px; margin:auto; display:block; position:relative;-webkit-transition: all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all 0.1s ease-out;}
.comp_editlink												{width:30px; display:inline-block; height:30px; background-color:#a049d8;top:120px; text-align:center; font-size:17px; position:absolute;right:10px; z-index:1;}
.comp_editlink:hover										{background-color:#7e2db2;}
.comp_editlink a											{color:#fff; padding:3px 9px; display:block;}
.comp_editlink a:hover,.comp_editlink a:focus				{color:#fff;}
.compgrid_content											{width:100%; min-height:150px; padding:10px 0px; background-color:#fff; float:left;}
.compgrid_content p											{font-size:12px; font-weight:600;width:94%; color:#54575c; border-right:1px dashed #999; padding:8px 10px 0px 5px; margin-left:10px;}
.address-det                                                                                                             {position:relative;border-top:1px dashed #999;float:left}
.address-det::after                                                                                              {content:'\f007';background:#E8E0CF; width:15px; height:15px; border-radius:50%;position: absolute;font-family:'FontAwesome'; font-weight: inherit !important;color:#523A05; font-size:10px;top:-9px;left:-4px;line-height:14px; text-align:center;text-shadow: 0 0 1px #fff;box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #A3884B;}
.comp_address::before										{content:'\f041';background:#E8E0CF; width:15px; height:15px; border-radius:50%;position: absolute;font-family:'FontAwesome'; font-weight: inherit !important;color:#523A05; font-size:10px;top:-4px;right:-6px;line-height:14px; text-align:center;text-shadow: 0 0 1px #fff;box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #A3884B;}
.comp_address												{color:#80289a !important;height:70px;line-height:20px;margin-bottom:5px;overflow:hidden;}
.comp_map													{width:93%; height:65px; margin-top:8px;margin-left:12px; display: block;}
.vwstrtr_btn												{display:block; font-weight:600;padding:6px 15px 6px 15px; margin:20px 0px 0px 0px; background-color:#3399ff; color:#fff; float:right;}
.vwstrtr_btn:hover											{color:#fff;background-color:#37a59f;}
/*--------------------Company Grid list--------------------*/
.compgdlist:hover											{border:1px solid #ecd06f; border-left:5px solid #ecd06f !important;}
.compgdlist .compgrid_logo									{width:60px; height:60px;margin:0px 20px; background-color:#ccc;}
.compgdlist .compgrid_logo img								{width:54px; height:54px; top:3px;}
.compgdlist .comp_arrowlink									{left:0px;top:0px;}
.compgdlist .comp_arrowlink	a								{color:#000}
.compgdlist .comp_arrowlink a:hover,.compgdlist .comp_arrowlink a:focus				{color:#f00;}
.compgdlist .comp_editlink									{top:10px;}
.compgdlist h1 												{/*padding-top:10px !important;*/}
.compgdlist h1 span											{display:inline-block;line-height:30px}
.compgdlist_detail p										{color:#642e96 !important;}

.compgdlist_detail p										{color:#642e96 !important;}
.compbranch_list h1											{padding-bottom:5px !important; line-height:28px;}
.compbranch_list											{padding: 5px 0px 5px 0px !important;}
.compbranch_list p											{padding: 4px 5px 4px 0px !important;}
.branch_address												{border:0px;vertical-align:top; width:80%;height:50px; resize:none;}
.vwstrtr_add_btn											{position:absolute !important; right:0px;bottom:5px;}
/*--------------------Company view page--------------------*/
.comp_view_cover											{width:100%; height:100px; background-repeat:no-repeat !important; background-position:top center !important;background-origin: border-box !important;background-size: cover !important; margin-bottom:20px;} 
.comp_view_cnt												{width:90%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.16); position:relative; top:30px; margin-left:100px; padding-left:50px; height: auto  !important; min-height:80px; background-color:#fff; float:left; border-radius:0px 200px 200px 0px;-webkit-border-radius:0px 200px 200px 0px;-moz-border-radius:0px 200px 200px 0px;-ms-border-radius:0px 200px 200px 0px;}
.comp_view_user h1											{overflow: hidden;text-overflow: ellipsis !important;white-space: nowrap;font-family: 'Open Sans', sans-serif; }
.comp_view_user h1											{color:#4e2e74; font-size:18px; font-weight:400 !important; padding:15px 0px 5px 20px;}
.comp_view_user p											{color:#262e39;padding:5px 0px 10px 20px;text-align:left;font-family: 'Open Sans', sans-serif; }
.comp_view_user p span										{color:#3f4c5e; padding-right:10px;font-family: 'Open Sans', sans-serif; }
.comp_view_map .comp_map									{width:100%; height:50px; margin-top:15px;margin-left:0; display: block;}
.comp_view_logo												{width:150px; height:150px;background-color:#85c3ec; position:absolute; z-index:1; left:20px; top:0px;}
.comp_view_logo_inner										{width:140px;height:140px; position:relative; top:10px; background-color:#45a0e6;}
.comp_vlogo													{width:130px;height:130px; border:2px solid #1989df;background-color:#000;left:4px;position: relative;top: 8px !important; overflow:hidden;}
.comp_vlogo	img												{width:130px;height:130px;position:absolute;top:0px;right:0px;bottom:0px;left:0px;display: block;max-width: 100%; max-height: 100%;margin: auto;border-radius:0px;-webkit-transition: all 1s ease-out;-moz-transition: all 1s ease-out;-ms-transition: all 1s ease-out;transition: all 1s ease-out;}
.photomask:hover .comp_vlogo img							{-webkit-transform: scale(1.3);-moz-transform: scale(1.3); -ms-transform:scale(1.3);}
.comp_view_detail											{border-left:1px dashed #bababa;height: auto  !important; min-height:80px !important;}
.comp_view_detail p											{padding:5px 10px 10px 9px; text-align:left;font-family: 'Open Sans', sans-serif;font-weight:500 }
.comp_view_logo .blur_bg 									{width:130px !important; height:130px !important;left:4px !important; top:8px !important;}
.comp_view_logo p a											{font-size: 30px !important;top: -70px !important;font-family: 'Open Sans', sans-serif; }
.comp_view_logo:hover p a 									{left: 50px !important;font-family: 'Open Sans', sans-serif; }
.compcover_change											{width:50px; height:50px;opacity:0; background: rgba(0, 0, 0, 0.8); position:absolute;left:47%; top:30%;}
.compcover_change a											{font-size:22px; color:#fff; display:block; padding:8px 13px;}
.compcover_change a:hover									{color:#48a85a;}
/*-------User view page-------*/
.user_view_cover .compcover_change							{width:30px; height:30px; top:10px; left:5px;}
.user_view_cover .compcover_change a						{font-size:15px; padding:4px 7px;}
.user_view_cover .comp_view_logo							{margin:auto; display:block; position:relative; height:100px; width:100px; top:110px;}
.user_view_cover .comp_view_logo_inner						{width:95px;height:95px; top:5px !important; left:2px;}
.user_view_cover .comp_vlogo								{height:90px; width:90px; top:5px !important; left:2px;}
/*.user_view_cover .comp_vlogo img							{height: 86px; width: 86px;}*/
.user_view_cover .comp_view_logo .blur_bg 					{width:86px !important;height:86px !important; top:7px !important;}
.user_view_cover .comp_view_logo p a						{top:-57px !important;}
.user_view_cover .comp_view_logo:hover p a 					{left: 30px !important;}
.user_view_cover .comp_view_cnt								{margin-left:0px; width:100%; top:140px;border-radius:0px; background:rgba(0,0,0,0.5);}
.user_view_cover .comp_view_user h1							{color:#fff;text-align:center;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.4);font-size:30px; padding:4px 0px 4px 0px;}
.user_view_cover .comp_view_user p							{color:#fff;padding:5px 0px 10px 20px;text-align:center;font-family: 'Open Sans', sans-serif; }
.user_view_cover .comp_view_user p span						{color:#fff;font-family: 'Open Sans', sans-serif; }
/*-----------------------users Grid------------------------*/
.users_grid li												{width:31%;margin:1% 1%; height:160px;background:#fff;box-shadow:0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24); float:left;}
.users_grid li:hover										{border:1px solid #ecd06f;}
.users_grid li:hover .usersgrid_logo img					{-webkit-transform: scale(1.1);-moz-transform: scale(1.1); -o-transform: scale(1.1);transform: scale(1.1);-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.users_grid li ul 											{width:90%;clear:both;margin:20px 0px 10px 0px; float:left;}
.users_grid li ul li										{width:auto !important; height: auto !important; margin:0px !important;border-right:1px solid #ddd !important; padding:2px 15px;border:0px;  float:left;box-shadow:none;font-family: 'Open Sans', sans-serif; }
.users_grid li ul li:hover									{border:0px;}
.users_grid li ul li:last-child								{border-right:0px !important;}
.users_grid h3												{padding:10px 10px 10px 0px; font-size:15px; font-weight:600;color:#3e3768; word-wrap:normal;overflow:hidden; text-overflow:ellipsis;}
.users_grid p												{font-size:13px;color:#6e6696;font-family: 'Open Sans', sans-serif; }
.detail-list                                                                                                           {position:relative;}
.usersgrid_logo												{width:60px; height:60px;top:10px;right:7px;background:#3e3768; position:absolute;}
.usersgrid_logo	 span                                                                                          {position:relative;}
.usersgrid_logo img											{width:58px; height:58px; top:1px;}
.user_editlink												{width:26px; height:26px;background-color:#3e3768;font-size:14px;top:5px;right:5px;}
.user_editlink a											{padding:2px 6px;}
.users_grid .comp_arrowlink	a								{color:#000}
.users_grid .comp_arrowlink a:hover,.users_grid .comp_arrowlink a:focus				{color:#f00;}
.adddprtmnt_box												{width:100%;float:left; padding:30px 0px 15px 0px; margin-bottom:20px; height:auto !important; background-color:#fff; border:1px dashed #563d7c;}
.adddprtmnt_box .close										{position: absolute; right:11px; top:0px; z-index:1;}
.adddprtmnt_box_ok											{width:40px; height:40px; background-color:#43b6d4;}
.adddprtmnt_box_ok:hover									{width:40px; height:40px; background-color:#563d7c;}
.adddprtmnt_box_ok span										{font-size:20px; color:#fff;}
.wrkflw_cmpny_contact 										{padding-bottom:40px;}
.wrkflw_cmpny_contact h1									{font-weight:400 !important; color:#000;}
.wrkflw_cmpny_contact h1 .img_flag							{width:45px; height:inherit !important;}
.wrkflw_cmpny_contact p										{overflow: hidden;text-align:center;text-overflow: ellipsis;word-wrap: break-word;}
.wrkflw_cmpny_contact p .wrkflw_p_spanicon					{display:inline-block; padding:5px 10px; font-size:20px;}
.wrkflw_cmpny_contact p	a									{color:#343434;font-weight:200 !important;font-family: 'robotoregular', sans-serif;}
.wrkflw_cmpny_contact p	a:hover								{text-decoration:underline;}
.questions li .select2-selection__arrow						{top:2px !important;}
.user_email,.user_phone										{color:#453d6d !important;}
.act_deactivate_icon										{float:right; right:10px;top:21px; position:relative;}
.act_deactivate_icon span									{font-size:17px;}
.act_deactivate_icon span.act_span_icon						{color:#90c86d;}
.act_deactivate_icon span.deact_span_icon					{color:#458e17;}
.grid_search_input											{width:100%;height:34px !important; background-color:#fff;border:1px solid #ddd !important; margin-top:5px;}
.grid_search_input:hover,.grid_search_input:focus			{border:1px solid #ccc !important;}
.grid_search_btn											{background:#ddd;margin-top: 5px;}
.grid_search_btn:hover,.grid_search_btn:focus				{background:#ccc !important;}
/*-------------------Responsive media query----------------*/
@media only screen and (min-width : 1025px) {
}
@media only screen and (min-width : 1025px) and (max-width : 1279px) {
.comp_view_cnt												{top:210px;}
}
@media only screen and (min-width : 981px) and (max-width : 1024px) {
.company_grid li,.compgdlist								{width:30% !important; margin:1% 1.5% !important;}
.users_grid li												{width:46% !important;  margin:1% 2% !important;}
.compgrid_content .vendor_phone								{display:block; clear:both; padding-left:0px;}
.compgdlist .compgrid_logo									{margin:15px 10px 15px 0px;}
/*.compgdlist h1 												{padding-top:30px !important;}*/
/*--------------------Company view page--------------------*/
.comp_view_cnt												{margin-left: 0px; width:98%;}
.comp_view_map												{display: none;}
.comp_view_logo												{width:75px; height:75px; background:none;left:5px;top:31px;}
.comp_view_logo_inner										{width:65px;height:65px;top:5px;}
.comp_vlogo													{width:60px;height:60px; left:2px; top:5px !important;}
/*.comp_vlogo	img												{width:56px;height:56px;}*/
.comp_view_logo .blur_bg 									{width:60px !important; height:60px !important;left:2px; top:5px !important;}
.comp_view_logo p a											{font-size: 15px !important;top: -37px !important;}
.comp_view_logo:hover p a 									{left: 25px !important;}
.comp_view_user p,.comp_view_detail p						{font-size:13px;}
.user_view_cover .comp_view_cnt								{margin-left:0px; width:100%; padding-left:0px;border-radius:0px !important;}
.user_view_cover .comp_view_logo p a						{font-size: 30px !important;}
.user_view_cover .comp_view_logo:hover p a 					{left: 30px !important;}
.user_view_cover .comp_view_user p							{font-size:15px !important;}
}
@media only screen and (min-width : 769px) and (max-width : 980px) {
.company_grid li,.compgdlist,.users_grid li					{width:46% !important;  margin:1% 2% !important;}
.compgdlist .compgrid_logo									{margin:15px 10px 15px 0px;}
.compgdlist h1 												{padding-top:30px !important;}
/*--------------------Company view page--------------------*/
.comp_view_cnt												{margin-left: 0px; width:98%;}
.comp_view_map												{display: none;}
.comp_view_logo												{width:75px; height:75px; background:none;left:5px;top:233px;}
.comp_view_logo_inner										{width:65px;height:65px;top:5px;}
.comp_vlogo													{width:60px;height:60px; left:2px; top:5px !important;}
/*.comp_vlogo	img												{width:56px;height:56px;}*/
.comp_view_logo .blur_bg 									{width:60px !important; height:60px !important;left:2px; top:5px !important;}
.comp_view_logo p a											{font-size: 15px !important;top: -37px !important;}
.comp_view_logo:hover p a 									{left: 25px !important;}
.comp_view_user p,.comp_view_detail p						{font-size:13px;}
.user_view_cover .comp_view_cnt								{margin-left:0px; width:100%; padding-left:0px;border-radius:0px !important;}
.user_view_cover .comp_view_logo p a						{font-size: 30px !important;}
.user_view_cover .comp_view_logo:hover p a 					{left: 30px !important;}
.user_view_cover .comp_view_user p							{font-size:15px !important;}
}
@media screen and (width:768px)								{
.company_grid li,.compgdlist,.users_grid li					{width:46% !important;  margin:1% 2% !important;}
.compgdlist .compgrid_logo									{margin:15px 10px 15px 0px;}
/*.compgdlist h1 												{padding-top:30px !important;}*/
/*--------------------Company view page--------------------*/
.comp_view_cnt												{margin-left: 0px; width:98%; padding-left:60px;border-radius:50px !important;}
.comp_view_user												{padding-top:8px;}
.comp_view_user h1,.comp_view_user p						{padding:4px 0px 4px 10px;}
.comp_view_map												{display: none;}
.comp_view_logo												{width:75px; height:75px; background:none;left:5px;top:32px;}
.comp_view_logo_inner										{width:65px;height:65px;top:5px;}
.comp_vlogo													{width:60px;height:60px; left:2px; top:5px !important;}
/*.comp_vlogo	img												{width:56px;height:56px;}*/
.comp_view_logo .blur_bg 									{width:60px !important; height:60px !important;left:2px; top:5px !important;}
.comp_view_logo p a											{font-size: 15px !important;top: -37px !important;}
.comp_view_logo:hover p a 									{left: 25px !important;}
.comp_view_user p,.comp_view_detail p						{font-size:14px;}
.user_view_cover .comp_view_cnt								{margin-left:0px; width:100%; padding-left:0px;border-radius:0px !important;}
.user_view_cover .comp_view_logo p a						{font-size: 30px !important;}
.user_view_cover .comp_view_logo:hover p a 					{left: 30px !important;}
.user_view_cover .comp_view_user p							{font-size:15px !important;}
}
@media only screen and (min-width : 320px) and (max-width : 767px) {
.company_grid li,.compgdlist,.users_grid li					{width:92% !important; margin:1% 4% !important;}
.compgdlist_detail .vwstrtr_btn								{float:inherit;}
.compgdlist .compgrid_logo									{margin:15px 10px 15px 0px;}
/*.compgdlist h1 												{padding-top:30px !important;}*/
.bids_list                                                                                                                              {width:91% !important}
/*--------------------Company view page--------------------*/
.comp_view_cnt												{margin-left: 0px; width:98%;top:20px; padding-left:60px; border-radius:0px 100px 100px 0px !important;}
.comp_view_user h1,.comp_view_user p,.comp_view_detail p	{padding:5px 0px 5px 5px;}
.comp_view_map												{display: none;}
.comp_view_logo												{width:75px; height:75px; background:none;left:2px;top:35px;}
.comp_view_logo_inner										{width:65px;height:65px;top:5px;}
.comp_vlogo													{width:60px;height:60px; left:2px; top:5px !important;}
/*.comp_vlogo	img												{width:56px;height:56px;}*/
.comp_view_logo .blur_bg 									{width:60px !important; height:60px !important;left:2px; top:5px !important;}
.comp_view_logo p a											{font-size: 15px !important;top: -37px !important;}
.comp_view_logo:hover p a 									{left: 25px !important;}
.comp_view_detail											{border:0px; min-height:40px !important;}
.comp_view_user h1											{font-size:15px !important; padding:4px 0px 4px 10px;}
.comp_view_user p,.comp_view_detail p						{font-size:13px;}
.compcover_change											{left:47%; top:20%;}
.compgdlist_detail											{border:0px !important;}
.compgdlist .comp_map										{display: none;}
.user_editlink												{top:10px;right:5px;}
.usersgrid_logo												{width:40px; height:40px; top:20px;right:10px;}
.usersgrid_logo img											{width:38px; height:38px;}
.user_view_cover .comp_view_cnt								{margin-left:0px; width:100%; padding-left:0px;border-radius:0px !important;}
.user_view_cover .comp_view_user h1							{font-size:30px !important;}
.user_view_cover .comp_view_user p							{font-size:15px !important;}
.user_view_cover .comp_view_logo p a						{font-size: 30px !important;}
.user_view_cover .comp_view_logo:hover p a 					{left: 30px !important;}
}
